.embla {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  position: relative;
  min-width: 80%;
  padding-left: 10px;
}


/* .embla__slide_ {
  position: relative;
  min-width: 80%;
  padding-left: 10px;
} */

button:disabled {
  filter: grayscale(1);
  opacity: 0.7;
  pointer-events: none;
}

.clear-arrows {
  padding: 0 !important;
  margin: 0 !important;
  position: inherit !important;
  background: none !important;
  width: 100%;
  margin-top: 30px !important;
}

/* width */
.img-scroll::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

/* Track */
.img-scroll::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #ff465f31;
}

/* Handle */
.img-scroll::-webkit-scrollbar-thumb {
  background: #ff465fdb;
  border-radius: 100vh;
  border: 2px solid #ff465fdb;
}

/* Handle on hover */
.img-scroll::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

@media all and (max-width: 600px) {
  .embla__slide {
    min-width: 100%;
  }
}
